<div class="container">
  <%= form_with url: colorify_update_car_path(@doc.id), method: :put do |f| %>
    <% @doc.characters_data['characters'].each do |character| %>
      <div class="mb-2">
        <%= f.color_field "color[#{character}]", class: 'form-control-color', value: '#ffffff' %>
        <%= f.label character %>
      </div>
    <% end %>
    <div class="mt-4">
      <%= f.submit %>
    </div>
  <% end %>
</div>
