<div class="qwe">
  <%= link_to 'SRT to Doc', srt_doc_landing_welcome_index_path %>
</div>

<p></p>

<div class="qwe">
  <%= link_to 'PDF 3 to txt', pdf_txt_3_landing_welcome_index_path %>
</div>

<p></p>

<div class="qwe">
  <%= link_to 'xlsx to txt(amedia)', xlsx_txt_amedia_landing_welcome_index_path %>
</div>


