<div class="qwe">
  <%= link_to 'SRT to Doc', srt_doc_landing_welcome_index_path %>
</div>

<p></p>

<div class="qwe">
  <%= link_to 'PDF to txt(contentica)', pdf_txt_cont_landing_welcome_index_path %>
</div>


